.mainFormContainer {
    display: flex;
    height: 570px;
    width: 900px;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.formContentContainer {
    margin: 40px 0 0 60px;
}

/* Form header styling */
.formHeaderContainer {
    margin-bottom: 40px;
}

.formTitle {
    font-family: 'Ubuntu-Bold';
    font-weight: 700;
    font-size: 32px;
    color: hsl(213, 96%, 18%);
}

.formInstruction {
    margin-top: 20px;
    font-weight: 400;
    color: hsl(231, 11%, 63%);
}

/* PersonalInfo styling */
.formFieldsContainer {
    margin-top: 45px;
    min-height: 330px;
}

.textInput {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    font-size: 16px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid hsl(229, 24%, 87%);
}

.lableContainer {
    margin-bottom: 5px;
    width: 100%;
}

.textInputLable {
    color: hsl(213, 96%, 18%);
}

.alertLableContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.alertLable {
    color: hsl(354, 84%, 57%);
    font-size: 14px;
}

.textInputAlert {
    border: 1px solid hsl(354, 84%, 57%);
}

/* bottom buttons styling */
.formControlsContainer, .firstFormControlsContainer {
    display: flex;
    align-items: center;
}

.formControlsContainer {
    justify-content: space-between;
    width: 103%;
}

.firstFormControlsContainer {
    width: 105%;
    justify-content: flex-end;
}

.nextButton, .confirmButton {
    height: 40px;
    width: 120px;
    font-weight: 400;
    font-size: 15px;
    color: hsl(217, 100%, 97%);
    background-color: hsl(213, 96%, 18%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.backButton {
    color: hsl(231, 11%, 63%);
    height: 40px;
    width: 120px;
    font-weight: 400;
    font-size: 15px;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

/* Plan styling */

.planItemsContainer {
    display: flex;
    justify-content: space-around;
    width: 450px;
}

.planItem {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 28%;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 10px;
    padding: 10px 20px 20px 10px;
    margin: 8px;
}

.planIcon {
    width: 50px;
    margin-bottom: 30px;
}

.planName {
    font-family: 'Ubuntu-Bold';
    color: hsl(213, 96%, 18%);
    font-size: 16px;
}

.planPrice {
    color: hsl(231, 11%, 63%);
    font-size: 14px;
    margin: 10px 0;
}

.planPriceDiscount {
    color: hsl(213, 96%, 18%);
    font-size: 14px;
    font-weight: 400;
}

.selectedPlanItem {
    background-color: hsl(231, 100%, 99%);
    border: 1px solid hsl(243, 100%, 62%);
}

.periodSwitchContainer {
    width: 95%;
    height: 45px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: hsl(231, 100%, 99%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.planPeriodMonthly, .planPeriodYearly {
    font-size: 13px;
    margin: 0 20px;
}

.planPeriodMonthly {
    color: hsl(231, 11%, 63%);
    font-weight: 400;
}

.planPeriodYearly {
    font-family: 'Ubuntu-Bold';
    color: hsl(213, 96%, 18%);
}

/* slider styling for Plan.jsx */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: 20px 0 15   px 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(213, 96%, 18%);
    border-radius: 34px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: hsl(213, 96%, 18%);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* AddOns styling */
.addOnItemsContainer {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.addOnItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid hsl(231, 11%, 63%);
    border-radius: 10px;
    margin-bottom: 15px;
    height: 70px;
}

.addOnItem:hover {
    border: 1px solid hsl(243, 100%, 62%);
}

.selectedAddOnItem {
    background-color: hsl(231, 100%, 99%);
    border: 1px solid hsl(243, 100%, 62%);
}

.addOnLeftContainer {
    display: flex;
    width: 70%;
}

.addOnDescriptionContainer {
    margin-left: 30px;
}

.addOnCheckbox {
    margin-left: 20px;
}

.addOnPrice {
    margin-right: 20px;
    font-size: 14px;
    color: hsl(243, 100%, 62%);
}

.addOnTitle {
    font-family: 'Ubuntu-Medium';
    font-size: 16px;
    color: hsl(213, 96%, 18%);
    margin-bottom: 2px;
}

.addOnDescription {
    color: hsl(231, 11%, 63%);
    font-size: 13px;
    margin-top: 3px;
}

/* summary styling*/
.summaryItemsContainer {
    width: 420px;
    background-color: hsl(231, 100%, 99%);
    padding: 15px;
    border-radius: 10px;
}

.summaryBottomLine {
    width: 420px;
    padding: 15px;
}

.summaryPlanContainer, .summaryAddOnItemContainer, .summaryBottomLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summaryPlanContainer {
    border-bottom: 1px solid hsl(231, 11%, 63%);
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.summaryPlanName {
    color: hsl(213, 96%, 18%);
    font-family: 'Ubuntu-Medium';
    font-size: 18px;
    margin-bottom: 5px;
}

.summaryChangeLink {
    color: hsl(231, 11%, 63%);
    font-size: 16px;
}

.summaryPlanPrice {
    color: hsl(213, 96%, 18%);
    font-size: 16px;
    font-family: 'Ubuntu-Medium';
}

.summaryAddOnItemContainer {
    margin: 7px 1px;
}

.summaryAddOnItemName {
    color: hsl(231, 11%, 63%);
    font-size: 16px;
}

.summaryAddOnItemPrice {
    color: hsl(213, 96%, 18%);
    font-size: 16px;
}

.summaryBottomLine {
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
}

.summaryBottomTitle {
    color: hsl(231, 11%, 63%);
}

.summaryBottomPrice {
    font-family: 'Ubuntu-Bold';
    color: hsl(243, 100%, 62%);
}

.submittedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.thankTitle {
    font-family: 'Ubuntu-Bold';
    font-size: 30px;
    color: hsl(213, 96%, 18%);
    margin: 20px 0;
}

.thankContent {
    padding: 0 70px;
    color: hsl(231, 11%, 63%);
    text-align: center;
    line-height: 160%;
}